<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Voice Biometrics</title>
    <!-- Favicon and Manifest links -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/example.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      #passwordField {
        display: none;
      }
    </style>
  </head>
  <body class="exampleBody">
    <div id="mainColumn" class="ui middle aligned center aligned grid">
      <div id="mainForm" class="ui large form">
        <h2 class="ui center aligned icon header loginText">
          <img src="{{ url_for('static', filename='images/makefg.png')}}" class="ui circular icon loginLogo">
          Voice Biometrics
        </h2>
        <div id="formOverlay">
          <form autocomplete="off">
            <!-- Hidden input fields to trick browsers into not autofilling -->
            <input type="text" style="display:none">
            <input type="password" style="display:none">

            <div class="ui segment">
              <div id="enrollmentMessage" class="ui message">
                <div class="ui center aligned header">
                  User Signin
                </div>
              </div>
              <div class="field" id="userField">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="Enter your Username" autocomplete="off">
                </div>
                <div id="usernamePointer" class="ui red basic below pointing label">
                  This username does not exist. Please try another user name, or enroll the user <a href="/enroll">here</a>. 
                </div>
              </div>
              <div class="field" id="passwordField">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input id="password-field" type="password" name="password" placeholder="Enter your Password" autocomplete="new-password">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div id="passwordPointer" class="ui red basic below pointing label">
                  Your password should be more than 6 characters.
                </div>
              </div>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="checkbox" id="authToggle">
                  <label id="authLabel"><strong>Use Password</strong></label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div id="loadingContainer">
          <div class="ui active massive loader" id="loading"></div>
        </div>
        <div id="nextButton" class="fluid ui animated button viBtnStyle viBtnColor" tabindex="0">
          <div class="visible content">Next</div>
          <div class="hidden content">
            Verify
          </div>
        </div>
      </div>
    </div>
    <script src="../static/javascript/auth.js"></script>
  </body>
</html>
