<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Voice Biometrics</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/example.css" />
    
    <!-- Favicon and Manifest links -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body class="exampleBody">
    <div id="mainColumn" class="ui middle aligned center aligned grid">
        <div id="mainForm" class="ui large form">
            <h2 class="ui center aligned icon header loginText">
                <img src="{{ url_for('static', filename='images/makefg.png') }}" class="ui circular icon loginLogo">
                Voice Biometrics
            </h2>

            <div id="enrollOptionButton" class="ui fluid center aligned large button viBtnStyle viBtnColor">
                Enroll a New User
            </div>

            <div id="authOptionButton" class="ui fluid large button viBtnStyle viBtnColor">
                Authenticate an Existing User
            </div>
        </div>
    </div>

    
    <script src="../static/javascript/main.js"></script>
</body>
</html>
